parameters:
	level: 9
	paths:
		- 'php-src'
#	scanFiles:
#		- 'php-tests/CommonTestClass.php'
	excludePaths:
		- 'php-tests/_autoload.php'
		- 'php-tests/_bootstrap.php'
#		- 'php-tests/CommonTestClass.php'
		- 'php-tests/data/*'
	bootstrapFiles:
		- 'php-tests/_bootstrap.php'
#	checkGenericClassInNonGenericObjectType: false
	ignoreErrors:
		# usual strval/intval shit
		- '#Parameter \#1 \$va[rl]u?e? of function [si][tn][rt]val expects bool\|float\|int\|resource\|string\|null#'
